.docSpacingWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 8px;
  width: 100%;
  margin-bottom: 20px;
}

.docSpacingWrapper p {
  width: 50px;
  font-size: 14px;
  font-weight: 600;
}

.spaceIndicator {
  width: 100%;
  background: #121212;
} 