.label {
  font-size: 14px;
  font-weight: 600;
}

.columnWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.selectorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.optionsLine {
  display: flex;
  column-gap: 8px;
  margin-bottom: 4px;
}

.optionBox {
  cursor: pointer;
  padding: 8px;
  font-size: 10px;
  font-weight: 600;
  color: #121212;
  border-radius: 4px;
  border: none;
  background: rgba(0, 0, 0, 0.05);
}

.selected {
  color: #F5F5FB;
  background: #181818;
}

.optionBox:hover {
  transform: translateY(-1px);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.settingsButton {
  cursor: pointer;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 4px;
  margin-top: 4px;
  font-size: 10px;
  font-weight: 600;
  color: #f5f5fb;
  background: #121212;
}

.settingsButton:hover {
  transform: translateY(-1px);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
} 