.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 80px;
  padding: clamp(24px, 2vw, 32px);
}

.logoWrapper {
  flex: 1;
}

.headerOptionsWrapper {
  display: flex;
  column-gap: 20px;
}

@media (max-width: 767px) {
  .headerOptionsWrapper {
    display: none;
  }
}

.menuIconWrapper {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menuIconWrapper:hover {
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .menuIconWrapper {
    display: none;
  }
}

.headerOption {
  display: inline-block;
  position: relative;
  padding: 4px 0;
}

.headerOption::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--content);
  transition: width 0.3s ease;
}

.headerOptionActive::after {
  width: 100%;
}

.headerOption:hover::after {
  width: 100%;
}

.headerOption:hover {
  cursor: pointer;
}

.fullScreenMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;

  width: 100%;
  height: 100%;

  background: var(--background);
  transform: translateX(-100%);
  transition:
    opacity 0.35s ease-in-out 0.1s,
    transform 0.35s ease-in-out;
}

.fullScreenMenuOpen {
  opacity: 1;
  transform: translateX(0);
}

.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--content);
} 