.barContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 12px;
}

.barOuter {
  margin-bottom: 4px;
  background-color: var(--highlight);
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
}

.barInner {
  height: 100%;
  border-radius: 16px;
  transition: width 0.3s ease;
}

.textContainer {
  width: 40px;
}

